<h2>Paises</h2>
<hr>
<ul class="list-group">
  <!--    PROPIEDAD [routerLink, routerLinkActive]-->
<!--  <li [routerLink]=" 'home'"-->
<!--    routerLinkActive="active"-->
<!--    class="list-group-item">-->
<!--    Home Page-->
<!--  </li>-->
<!--  <li [routerLink]=" 'about' "-->
<!--    routerLinkActive="active"-->
<!--    class="list-group-item">-->
<!--    About Page-->
<!--  </li>-->
<!--  <li [routerLink]=" 'contac' "-->
<!--      routerLinkActive="active"-->
<!--      class="list-group-item">-->
<!--    Contac Page-->
<!--  </li>-->
  <li [routerLink]=" 'country/by-capital' "
      routerLinkActive="active"
      class="list-group-item">
    Por capital
  </li>
  <li [routerLink]=" 'country/by-country' "
      routerLinkActive="active"
      class="list-group-item">
    Por país
  </li>
  <li [routerLink]=" 'country/by-region' "
      routerLinkActive="active"
      class="list-group-item">
    Por region
  </li>
</ul>
